@use 'variables' as *;

body {
  background: rgb(24, 23, 23);
  font-family: 'Orbitron', sans-serif;
}
header {
  color: $white;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 32px;
}

.message {
  color: $white;
  text-align: center;
}
